/*
    Colors:
    grey: #F3F3F1;
    black: #4E4B56;
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F3F3F1;
}

.nav {
    position: relative;
}

.nav-btn {
    margin: 50px;
    color: #434B56;
    text-decoration: none;
    font-size: 2.0em;
}

.nav-menu {
    display: none;    
    position: fixed;
    top: 0;
    background: white;
    width: 20%;
    height: 100vh;
    justify-content: center;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu-item {
    padding: 15px;
    font-size: 1.2em;
    color: #434B56;
    cursor: pointer;   
}

.search {
    display: flex;
    margin-top: 140px;
    justify-content: center;
    width: 100%;
}

#searchQuery {
    width: 50%;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.previousSearchList {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.previousSearchList li {
    padding: 0 20px;
    list-style: none;
    display: inline-block;
}

.query-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #434B56;
    border-bottom: 1px solid #434B56;
    padding-bottom: 1px;
}